<div class="form_wrap">
              <form class="search-box" action="" method="get">
                <input                  class="search-txt"
                  name=""
                  placeholder="введите слово или фразу"
                  type="search"                />
                <div class="search-btn_contain">
                  <button class="search-btn" type="submit"></button>
                </div>
              </form>
              <button
                class="burger-btn header-burger"
                onclick="openModal()"
                type="button"
              ></button>
            </div>

            /* css */
.search-btn_contain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
border: 1px solid #fff;
border-radius: 50%;
width: 58px;
height: 58px;
}
.search-btn:hover::after {
  border: 1px solid transparent;
}
.search-txt {
  top: inherit;
  bottom: 14px;
  right: 78px;
}
@media (min-height: 768px) {

}
/* ===================== */
/* галерея.  */
/* в хеад  */
/* откл */
