/* подвал */
================================
в main.css УДАЛИТЬ ЭТО:
.footer-flex {
  font-size: 12px;
  letter-spacing: 0.02em;
  gap: 20px;
}

.footer-social {
  gap: 62px;
}
.social {
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.02em;
}
@media (max-width: 768px) {
  .footer-flex {
    font-size: 12px;
    letter-spacing: 0.02em;
    gap: 0;
  }
}
то что выше удали с main.css

===========================
В ТВОИ СТИЛИ
@media (max-width: 1360px) {
  .footer-line {
    width: 100%;
    flex-grow: 1;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .footer-flex {
    gap: 0;
  }
  .copyright {
    font-size: 12px;
  }
  .footer-line {
    margin: 0;
  }
  .social {
    font-size: 12px;
  }
  .footer-social {
    margin-left: 2%;    
    gap: 6vw;
  }
}
@media (max-width: 567px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



@media (max-width: 570px) {
  .footer-flex {
    gap: 0;
    flex-direction: column;
    align-items: initial;
  }
  .social {
    font-size: 14px;
  }
  .copyright {
    font-size: 10px;
    margin-top: 8px;
    order: 2;
  } 
  .footer-social {
    gap: 0;
    margin-left: 0;
  }
}
  