img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  width: 100%;
}

.container {
  max-width: 100%;
  padding: 0 40px;
}

.header {
  padding-top: 30px;
  padding-right: 3%;
  padding-left: 3.5%;
}

.menu-select {
  background: transparent;
  color: white;
  border: none;
}

.header-nav {
  margin-right: 1vw;
  gap: 2.3vw;
}

.service-flex {
  gap: 17.4vw;
}

.link_hidden {
  display: none;
}

.sertificat-title {
  text-transform: uppercase;
}

.online-reg_image {
  flex-basis: 49%;
  max-height: 100%;
}

.reg-left_wrapper {
  padding: 64px 4% 54px 4%;
  flex-basis: 49%;
  margin-right: 8vw;
  position: relative;
}

.online-reg_box {
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}


.online-reg_input {
  max-width: 466px;
}
.form-group {
  position: relative;
    transition: all .3s;
    cursor: text;
}
.form-input {
  cursor: text;
  
  position: absolute;
  display: inline-block;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  background: transparent;
  transition: .2s ease-out;
}
.form-label {
  cursor: text;
  display: inline-block;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  display: inline-block;
  cursor: text;
  transition: .2s ease-out;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.certificate-form .online-reg-title {
  margin-bottom: 31px;
}

.online-reg-form .form-input-phone {
  margin-top: 20px;
}

.online-reg-form .certificate-form_radio {
  margin-top: 28px;
}

.certificate-form_wrap {
  display: flex;
  align-items: center;
}

.online-reg-btn {
  margin: 0 6% 0 0;
}
.form-group {
  position: relative;
}
.form-label {
  text-transform: uppercase;
  position: absolute;
  font-size: 17px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.form-input-name {
  top: 40px;
}
.form-input-email {
  top: 105px;
}
.certificate-form .form-input-sum {
  top: 40px;
  color: #000;
}
.form-label._name {
  top: 40px;
}
.form-label._email {
 top: 105px;
}
.form-label._sum {
  top: 40px;
}
.radio-button {
  margin-top: 90px;
}
.certificate-form .form-input {
  border-bottom: 1px solid #000;
  background: transparent;
  position: absolute;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label  {
  transform: translateY(-20px) translateX(-3.5vw) scale(0.8);
}
.form-input:focus ~ .form-label._sum,
.form-input:not(:placeholder-shown) ~ .form-label._sum  {
  transform: translateY(-20px) translateX(-3.6vw) scale(0.8);
}
.checkbox-square {
  margin-top: 180px;
}
.online-reg-form {
  display: flex;
  flex-direction: column;
}
.online-reg-form._enroll-white .form-input-name::placeholder{
  color: #fff;
}
.online-reg-form._enroll-white .form-input-email::placeholder{
  color: #fff;
}
.online-reg-form._enroll-white .form-input-phone::placeholder{
  color: #fff;
}
.certificate-form.online-reg-title {
  color: #000;
}

.online-enroll-form {
  display: flex;
  flex-direction: column;
  max-width: 469px;
}

.certificate-form_radio {
  color: #000;
}
.online-reg-form .certificate-form_radio {
  margin-top: 2px;
}
.online-reg-form._white .form-input-name::placeholder{
  color: transparent;
}
.online-reg-form._white .form-input-email::placeholder{
  color: transparent;
  text-transform: uppercase;
}

.online-reg-form._white .form-input-phone::placeholder{
  color: transparent;
}
.online-reg-form._white {
  color: #fff;
  padding: 14px 0 14px;
}
.online-reg-form._white .form-input-text::placeholder{
  color: transparent;
}
.online-reg-form._white .form-input-text {
  margin-top: 20px;
  padding-bottom: 5px;
  overflow: hidden;
}
.online-reg-form._enroll-white textarea::placeholder{
  color: transparent;
}
textarea {
  resize: none;
}

.online-reg-form._enroll-white .form-input-email {
  text-transform: uppercase;
}

.online-reg-form .form-input-name::placeholder{
  color: #000;
}
.online-reg-form .form-input-email::placeholder{
  color: #000;
}
.online-reg-form .form-input-phone::placeholder{
  color: #000;
}
.online-reg-form .form-input-text::placeholder{
  color: #000;
}
.certificate-form .online-reg-btn {
  color: #000;
  border: 1px solid #000;
}

.certificate-form .online-reg-confirm {
  color: #000;
}
/* .form-input-name {
    width: 100%;
  } */

.btn-flex {
  gap: 2px;
  justify-content: flex-start;
  margin: 0;
  position: absolute;
  top: 83%;
}

.online-reg-confirm {
  max-width: 230px;
}

.online-reg-moby {
  display: none;
}

.form-input-name,
.form-input-email,
.form-input-phone {
  color: #000;
}

@media (max-width: 1360px) {
  .form-input:focus ~ .form-label._sum,
.form-input:not(:placeholder-shown) ~ .form-label._sum  {
  transform: translateY(-20px) translateX(-2vw) scale(0.8);
}
.form-input:focus ~ .form-label._sum,
.form-input:not(:placeholder-shown) ~ .form-label._sum  {
  transform: translateY(-20px) translateX(-3.6vw) scale(0.8);
}
  .header {
    padding: 40px 0 0;
  }
  .reg-left_wrapper {
    margin-right: 0;
  }
}


@media (max-width: 1250px) {
  .services-title {
    max-width: 295px;
  }
}

@media (max-width: 1200px) {
  .adress_title {
    font-size: 65px;
  }

  .service-flex {
    gap: 0;
    justify-content: space-between;
  }

  .sertificat-title {
    font-size: 65px;
  }

  .online-reg-btn {
    padding: 6px 15px 7px 15px;
  }

  .online-reg_image {
    flex-shrink: 2;
    flex-grow: 0;
  }

  .online-reg-title {
    font-size: 2.8rem;
  }

}

@media (max-width: 1056px) {

  .burger-btn {
    margin-left: 0;
  }
/* 
  .search-btn_contain {
    display: none;
  } */

  .sertificat-title {
    font-size: 58px;
  }
  .form-input:focus ~ .form-label._sum, 
  .form-input:not(:placeholder-shown) ~ .form-label._sum {
    transform: translateY(-20px) translateX(-2.5vw) scale(0.8);
}

  .checkbox-square {
    margin-top: 165px;
  }

  .btn-flex {
    gap: 25px;
    flex-direction: column;
  }

  .online-reg-btn {
    margin: 0;

  }

  .btn-flex {
    align-items: flex-start;
  }

  .online-reg-confirm {
    max-width: 293px;
  }

}
@media (max-width: 900px) {
  .header-nav {
    display: none;
  }
  
  .burger-btn {
    display: block;
  }
}


@media (max-width: 768px) {
  .service-flex {
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }

  .menu-select {
    width: 189px;
  }

  .online-reg-title {
    font-size: 30px;
  }
  .certificate-form .online-reg-title {
    margin-bottom: 0;
  }
  .checkbox-button__label1 {
    margin-right: 30px;
    font-size: 13px;
  }

  .checkbox-button {
    font-size: 13px;
  }

  .btn-flex {
    margin-top: 0px;
  }
  .form-label._sum {
    top: 30px;
}
.certificate-form .form-input-sum {
  top: 30px;
 }

  .reg-left_wrapper {
    padding-top: 40px;
    padding-bottom: 55px;
  }
  .btn-flex {
   
    gap: 15px;
    top: 83%;
}
.radio-button {
  margin-top: 70px;
}
.radio-button__label {
  font-size: 11px;
}
.form-input:focus ~ .form-label._name,
.form-input:not(:placeholder-shown) ~ .form-label._name  {
  transform: translateY(-20px) translateX(-1.3vw) scale(0.8);
}
.form-input:focus ~ .form-label._sum,
.form-input:not(:placeholder-shown) ~ .form-label._sum  {
  transform: translateY(-20px) translateX(-3vw) scale(0.8);
}
}
@media (max-width: 660px) {
  .form-label {
    font-size: 15px;
  }
}
@media (max-width: 626px) {

.form-input-email {
  top: 93px;
}
.form-label._email {
  top: 93px;
}
.checkbox-square {
  margin-top: 145px;
}
.reg-left_wrapper {
 
  padding-bottom: 75px;
}
.btn-flex {
 
  top: 78%;
}
}
@media (max-width: 610px) {
  .online-reg_image {
    display: none;
  }
  .reg-left_wrapper {
    padding: 64px 8% 64px 8%;
    flex-basis: 100%;
    margin-right: 0;
}
.btn-flex {
  top: 80%;
}
}
@media (max-width: 600px) {
  .sertificat-title {
    margin: 0.67em auto;
  }
  .services-descriprion {
    margin: 0 auto;
  }
}
@media (max-width: 567px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;

    position: relative;
  }

  .header {
    padding-top: 12px;
  }

  .logo {
    display: block;
    background: url("../img/logo_mobile.svg");
    width: 46px;
    height: 40.89px;
    margin-right: 0;
  }

  .header-flex {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger-btn {
    background: url('../img/burger-green.svg');
    background-size: cover;
    width: 24px;
    height: 9.5px;
    position: absolute;
    right: 6%;
    top: 12px;
  }

  .drop-down {
    margin-top: 6px;
  }

  .menu-select {
    color: black;
    font-size: 12px;
    width: 146px;
  }

  .service-flex {
    margin-top: 22px;
  }

  .sertificat-title {
    font-size: 58px;
    color: black;
    max-width: 100%;
    font-size: 30px;
    margin: 0 auto;
  }

  .online-reg_image {
    display: none;
  }

  .reg-left_wrapper {
    padding: 30px;
  }

  .online-reg-confirm {
    max-width: 100%;
    font-size: 12px;
  }

  .form-input-email {
    display: block;
  }

  .online-reg-confirm {
    display: none;
  }

  .online-reg-moby {
    display: block;
    margin-bottom: 35px;
  }

  .certificate-form .online-reg-title {
    margin-bottom: 10px;
  }

  .footer-line {
    display: none;
  }

  .checkbox-button__label1 {
    margin-right: 20px;
    font-size: 12px;
  }


}