img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-slider {
  margin-left: auto;
}

.swiper {
  max-width: 1198px;
  /* max-width: 1274px; */
  max-width: 86vw;
  margin-left: auto;
  /* margin-right: -2.5%; */
  /* margin-right: -10.5%; */
  margin-right: 0;
  padding-top: 142px;
  padding-bottom: 109px;
  /* background-color: blue; */
  margin-top: 75px;
}

.slider3__item {
  width: 100%;
  transition: all 0.3s ease 0s;
  height: 277px;
}

.swiper-slide {
  transition: 0.3s ease-out;
}

.swiper-slide-next {
  /* max-width: 402px; */
  transition: .3s;
}

/* .swiper-btn_container {
  position: absolute;
  top: 19%;
  right: 26%;
} */

/* .swiper-btn_wraper {
  position: relative;
} */

.swiper-wrapper .swiper-slide-active-mod {
  transform: scale(1.5);
  /* transform: scale(1.7); */
  /* border: 5px solid red; */
}

.swiper-wrapper {
  gap: 3px;
}

.swiper-slide-active-mod img {
  object-fit: cover;
}

.swiper-slide-active {
  transform: scale(1.5);
}

.swiper-horizontal>.swiper-pagination-fraction {
  bottom: inherit;
  top: 0;
  left: 0;
}

.swiper-pagination {
  text-align: left;
}

.swiper-slide-prev {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-size: cover;
  left: inherit;
  top: 12%;
  width: 58px;
  height: 58px;
  opacity: 1;
}

.swiper-button-next {
  background-image: url(../img/arrow-right-green.svg);
  right: 27%;
}

.swiper-button-prev {
  background-image: url(../img/arrow-left-green.svg);
  right: 33%;
}

.swiper-pagination {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.swiper-pagination::before {
  content: 'фото';


  margin-right: 5px;

}

.swiper-pagination-total {
  color: #9E9D52;
}

/* .gallery_header-nav_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  transition: 0.4s ease;
}

._gallery {
  padding-left: 2.7%;
  padding-right: 2.7%;
}

.online-reg-left {
  flex-basis: 100%;
  flex: 1;
}

.online-reg-right {
  flex: 1;
}

.select-big::after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  width: 350px;
  position: absolute;
  right: 6%;
  top: 89%;
} */
/* 
@media (max-width: 1360px) {

  .reg-left-wrapper {
    margin-left: 0;
    margin-top: 0;
    padding-left: 8.3%;
    padding-top: 65px;
    padding-right: 8.3%;
  }
} */
@media (max-width: 1360px) {

  .swiper-wrapper .swiper-slide-active-mod {
    transform: scale(1.6);
  }

  .swiper {
    max-width: 85%;
  }

  .slider3__item {
    height: 250px;
  }

  .swiper-slide-active-mod img {
    object-fit: contain;
  }
}

@media (max-width: 1200px) {
  .slider3__item {
    height: 230px;
  }
}

@media (max-width: 1200px) {
  .slider3__item {
    height: 200px;
  }
}

@media (max-width: 900px) {
  .slider3__item {
    height: 180px;
  }

  .swiper {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .slider3__item {
    height: 130px;
  }

  .swiper {
    max-width: 100%;
  }
}

@media (max-width: 567px) {
  .slider3__item {
    height: 90px;
  }
}

@media (max-width: 375px) {
  .slider3__item {
    height: 70px;
  }
}