/* https://github.com/Svetkachalina/1.git */
/* https://github.com/keaasd/Spa.git */



/* .hidden {
  display: none;
}

.switch-on-off {
  display: inline-block;
} */

:root {
  --text-size-larg: 16px;
  --text-size-medium: 11px;
}

.one {
  font-size: var(--text-size-medium);
  font-size: var(--text-size-larg);
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.drop-down {
  position: relative;
}

.drop-down::after {
  left: 24px;
  top: 31px;
  width: 140px;
}

.header-box {
  display: flex;
}

.header-nav_list {
  padding-right: 0;
  /* удалить паддинг  */
}

.btn-text {
  margin-left: 0px;
  background: url("../img/button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* position: relative; */
  position: absolute;
  display: block;
  cursor: pointer;
  transition: 0.3s ease-out;
  transform: scale(1);
}

.btn-services {
  margin-top: 135px;
  cursor: pointer;
}

.header {
  padding-top: 40px;
  padding-right: 7%;
  padding-left: 6%;
}

.header-nav {
  /* margin-right: 50px;
  gap: 30px; */
  opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 2px;
}


.btn-text_services {
  padding: 23px 43px 26px 40px;
  transition: 0.3s ease-out;
  transform: scale(1);
}

.btn-text_services:hover {
  transform: scale(1.1);
}

.btn-bg {
  width: 10px;
  height: 66px;
  background: transparent;
  display: none;
}

.btn-text_offers {
  padding: 22px 68px 25px 39px;
  top: 24px;
  font-size: 17px;
}

/* ==== первый свайпер */
/* подключить js css для свайпера */

.hero_swip-box {
  position: relative;
}

.hero_swiper {
  width: 100%;
  max-width: 740px;
  height: 283px;
  padding-bottom: 2px;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: inherit;
  bottom: 0;
  width: 48%;
}


.hero-subheading {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 5px;
}

.white_phone-index {
  top: 17%;
  right: 10%;
  transform: scale(1);
  transition: 0.3s ease-out;
}

.white_phone-index:hover {
  transform: scale(1.1);
}

/* comment */
.white_phone-btn {
  display: block;
  position: absolute;
  background-image: url(../img/phone.svg);
  /* background: url('../img/phone.svg'); */
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.4s ease;
  width: 75px;
  height: 75px;
}



.hero_visual {
  background-image: url("../img/hero-pic.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 353px;
  height: 250px;
}

.contacts {
  display: block;
}

.hero_wrap {
  /* max-width: 500px; */
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 352px;
}

.swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
  top: -2px;
}

.white_phone-index {
  top: inherit;
  bottom: -63px;
  right: 0;
  z-index: 3;
}

.main-bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
  margin-bottom: -93px;
}

.descr-services {
  margin-bottom: 0;
  line-height: 131%;
}

/* .contact-box {
  display: flex;
  justify-content: space-between;
  gap: 85px;
} */

.contact-nav-item {
  display: block;
}

.contact-title {
  display: block;
}

.main-bg::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(360deg,
      #d2d285 11.43%,
      rgba(210, 210, 133, 0) 100%);
  width: 100%;
  height: 0;
  left: 0px;
  bottom: 59px;
  z-index: -5;
  background: red;
}

/* 
.contact-nav {
  gap: 0;
  max-width: 1029px; */
/* } */

.main-bg {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  height: 1270px;
  z-index: -1;
}

.main_gradient {
  position: absolute;
  background: linear-gradient(360deg,
      #d2d285 11.43%,
      rgba(210, 210, 133, 0) 100%);
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 63%;
  left: 0;
  bottom: 0;
  z-index: -2;
}

/* слайдер выше  */
/* ==== второй свайпер */
.services {
  position: relative;
  z-index: 0;
  margin-top: 166px;
}

.title-services {
  margin-bottom: 29px;
  line-height: 113%;
}



.wrap_services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  min-width: 0;
}



.swiper-text {
  margin-top: 25px;
}

.swiper-title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d4d626;
  width: 232px;
  padding-bottom: 11px;
}

.swiper-no {
  font-family: "Alice";
  font-weight: 400;
  font-size: 56px;
  line-height: 111.8%;
  text-transform: uppercase;
}

.btn-text_services {
  font-size: 17px;
}

.title-hero {
  /* font-size: 64.9171px;
  line-height: 113%;
  max-width: 600px;
  margin-top: 130px;
  margin-left: 20px;
  margin-bottom: 125px;
  color: #fff; */
  opacity: 1;
}

.burger-btn {
  background-image: url(../img/burger_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 16px;
  border: none;
  width: 24px;
  margin-left: 5vw;
  display: none;
  height: 9.5px;
}

/* стили крестика ======== */
.header-modal-close {
  background-image: url(../img/close_moby.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  height: 16.97px;
  width: 16.97px;
}

/* бургер меню  */
.modal__mb {
  position: fixed;
  top: 0;
  left: -3000px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: rgba(0, 0, 0, 0.59);
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.modal_window {
  position: relative;
  background-color: #515002;
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.burger-link {
  margin-top: 30px;
}

.modal_link {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.modal_box {
  display: flex;
  justify-content: space-between;
}

.modal_logo {
  display: block;
  background-image: url(../img/logo_mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 40.89px;
}

input {
  color: #ffffff;
  padding: 7px 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 1);
}

textarea {
  color: #ffffff;
  padding: 7px 0;
  height: 37px;
}

legend {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin-top: 14px;
}

/* 
input[type="radio"] {
  appearance: none;
}

input[type="radio"] {
  appearance: none;
}

input[type="radio"]+label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.17px;
}

input[type="radio"]+label::before {
  content: "";
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"]+label::after {
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked+label::after {
  opacity: 1;
}

input[type="radio"]+label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.17px;
}

input {
  font-size: 12px;
  line-height: 124.8%;
  color: #ffffff;
  padding: 0;
}

.form-input {
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #d4d626;
}

input[type="radio"]+label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.17px;
}

input[type="radio"]+label::before {
  content: "";
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"]+label::after {
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
} */

.form-input-name {
  font-weight: 500;
  font-size: 17px;
}

/* 
input[type="radio"]:checked+label::after {
  opacity: 1;
}

input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
} */
.maps-moby {

  display: none;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  margin-top: 14px;
  margin-left: 3px;
  margin-bottom: 36px;
}

.maps-moby::before {
  content: '';
  background-image: url(../img/pin.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-right: 10px;
}

.online-reg-title {
  margin-bottom: 48px;
}

.form-input-email {
  text-transform: none;
  padding-top: 3px;
}

.form-input-phone {
  /* margin-top: 24px; */
  /* margin-bottom: 26px; */
  opacity: 1;

}

.online-reg-form {
  width: 100%;
}

.reg-left-wrapper {
  margin-left: 0;
  margin-top: 0;
  padding-left: 8.3%;
  padding-top: 65px;
  padding-right: 8.3%;
}

.social {
  font-size: 12px;

  text-align: right;
  letter-spacing: 0.02em;
}

.footer-social {
  gap: 24px;
}