в style.css 
.map {
  max-height: 649px;
  width: 100%;
  height: max(649px, 310px);
}
.map__balloon {
  display: flex;
}
.ymaps-2-1-79-i-custom-scroll {
  height: fit-content;
}
.map__burger-img {
  max-height: 300px;  
  margin-right: 10px;
}
.map__title-hero, .map__title-span {
  display: block;
  font-family: "Philosopher", sans-serif;
  font-size: min(25px, 1rem);
  line-height: 1.3;
font-weight: 700;
}



@media (max-width: 768px)
.map {
  max-height: 310px;
}
  -116
