.card-item {
    display: flex;
  }
  .cards-list-box {
    
    max-width: 343px;
  }
  .card-item-pic-hiddnv {
    display: none;
  }
  .col-right-txt {
    width: 100%;
  }
  .col-right {
    display: flex;
  }
 
input[type="radio"] {
  appearance: none;
}

input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 113.56%;
  display: flex;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after {
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after {
  opacity: 1;
}
  @media (max-width: 1250px) {

  .cards-list-box {
    max-width: 275px;
}
  }
  @media (max-width: 1125px) {

    .cards-list-box {
      max-width: 230px;
  }
    }
    @media (max-width: 1030px) {

      .cards-list-box {
        max-width: 220px;
    }
    .card-item {
      gap: 15px;
    }
      }
  @media (max-width: 768px) {
        .card-item._serv  {
          max-width: 661px; 
      }
      .cards-list-box {
        max-width: 550px;
    }
        }
  @media (max-width: 737px) {
    .online-reg-right {
      display: none;
  }
  .online-reg-left {
    flex-basis: 100%;
    border-radius: 10px;
}
.online-reg-confirm {
  top: 10%;
  left: 34%;
  max-width: 123px;
  padding-left: 20px;
}
}
@media (max-width: 570px) {
  .container._form {
    background: #F9F8F6;
}
}

@media (max-width: 500px) {
  .online-reg-confirm {
    left: 54%;
}
}
  @media (max-width: 567px) {
    .card-item-pic-vhiddn {
      display: none;
    }
  
    .card-item-pic img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .cards-list-box {
      margin: 0;
    }
    .card-item-pic-hiddnv {
      display: block;
      margin-right: 17px;
    }
    .card-item-pic img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  