/* изменить  */
.logo {
    background-size: contain;
    background-repeat: no-repeat;
}

.drop-down {
    position: relative;
}

.drop-down::after {
    left: 24px;
    top: 31px;
    width: 140px;
}

.menu-select {
    width: 156px;
}

.header-box {
    display: flex;

}

.header-nav_list {
    padding-right: 0;
    /* удалить паддинг  */
}

.header {
    padding-top: 40px;
    padding-right: 7%;
    padding-left: 6%;
}

.header-nav {
    margin-right: 50px;
    gap: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 2px;
}

@media (max-width: 1360px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .logo {
        width: 209.26px;
        height: 44.11px;
        margin-right: 20px;
    }

    /* ============================================1 часть */
    .header {
        padding-top: 40px;
        padding-right: 0;
        padding-left: 0;
    }

    .header-nav_link {
        font-size: 15px;
    }

    .header-nav {
        margin-right: 45px;
        gap: 20px;
    }

    .title-hero {
        font-size: 64.9171px;
        line-height: 113%;
        max-width: 600px;
        margin-top: 130px;
        margin-left: 40px;
        margin-bottom: 130px;
    }

}