.header {
    padding: 35px 100px 35px 91px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
}

.logo {
    /* background: url('./img/logo.svg'); */
    background-size: auto;
    display: block;
    width: 313px;
    height: 66px;
    margin-right: 13px;
    background-size: cover;

}

.pin {
    margin-left: 6px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
}

.menu-select {
    margin-left: 3px;
    border: none;
    color: #fff;
    width: 190px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 136.8%;
    outline: none;
    background: url('./img/drop-down.svg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 9px 7.75px;
    background-position: 98% center;
    appearance: none;
    position: relative;
}

.drop-down {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 23px;
    position: relative;
}

.drop-down::after {
    content: '';
    display: block;
    border-bottom: 2px solid #D4D626;
    width: 140px;
    position: absolute;
    left: 26px;
    top: 31px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-left: 1px;
}

.header-nav_list {
    list-style: none;
    padding: 0;
    padding-right: 0px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    gap: 7.5%;
}

@media (max-width: 1040px) {

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-flex {
        display: flex;
        gap: 2%;
    }

    .navbar {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        justify-content: end;
    }

    .header-nav {
        margin-right: 0;
    }

    .logo {
        background-size: contain;
        width: 260px;
        height: 54.81px;
        margin-right: 1%;
    }

    .menu-select {
        margin-left: 30%;
    }

    @media (max-width: 768px) {
        .logo {
            width: 209.26px;
            height: 44.11px;

        }
    }

    @media (max-width: 960px)=планшеты @media (max-width: 768px)=смартфоны @media (max-width: 567px) @media (max-width: 480px) @media (max-width: 320px)