/* изменить  */
/* https://github.com/Svetkachalina/1.git */
.logo {
    background-size: contain;
    background-repeat: no-repeat;
}

.drop-down {
    position: relative;
}

.drop-down::after {
    left: 24px;
    top: 31px;
    width: 140px;
}

.menu-select {
    width: 156px;
}

.header-box {
    display: flex;

}

.header-nav_list {
    padding-right: 0;
    /* удалить паддинг  */
}

.header {
    padding-top: 40px;
    padding-right: 7%;
    padding-left: 6%;
}

.header-nav {
    margin-right: 50px;
    gap: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 2px;
}

/* ==== первый свайпер */
/* подключить js css для свайпера */
.swiper {
    margin-right: 0;
    z-index: 1;
}

.hero_swip-box {
    position: relative;
}

.hero_swiper {
    width: 100%;
    max-width: 740px;
    height: 283px;
    padding-bottom: 2px;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: inherit;
    bottom: 0;
    width: 48%;
}

.swiper-button-next {
    background-image: url(../img/arrow-right.svg);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: inherit;
    opacity: 1;
    right: 26%;
    bottom: 69px;
}

.hero-subheading {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 5px;
}

.white_phone-index {
    top: 17%;
    right: 10%;
}

.white_phone-btn {
    display: block;
    position: absolute;
    background-image: url(../img/phone.svg);
    /* background: url('../img/phone.svg'); */
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.4s ease;
    width: 75px;
    height: 75px;
}

.swiper-button-prev {
    background-image: url(../img/arrow-left.svg);

    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: inherit;
    left: inherit;
    width: 58px;
    height: 58px;
    opacity: 1;
    right: 35.6%;
    bottom: 69px;
}

.hero_visual {
    background-image: url('../img/hero-pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 353px;
    height: 250px;
}

.hero_wrap {
    /* max-width: 500px; */
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 352px;
}

.swiper-pagination-progressbar {
    background: #fff;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #fff;
    top: -2px;
}

.white_phone-index {
    top: inherit;
    bottom: -63px;
    right: 0;
    z-index: 3;
}

.main-bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    margin-bottom: -93px;
}

.descr-services {
    margin-bottom: 0;
}

.main-bg::after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(360deg, #D2D285 11.43%, rgba(210, 210, 133, 0) 100%);
    width: 100%;
    height: 0;
    left: 0px;
    bottom: 59px;
    z-index: -5;
    background: red;
}

.main-bg {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin-bottom: -93px;
    width: 100%;
    height: 1270px;
    z-index: -1;
}

.main_gradient {
    position: absolute;
    background: linear-gradient(360deg, #D2D285 11.43%, rgba(210, 210, 133, 0) 100%);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 63%;
    left: 0;
    bottom: 0;
    z-index: -2;
}

/* слайдер выше  */
/* ==== второй свайпер */
.services {
    position: relative;
    z-index: 0;
    margin-top: 166px;
}

.title-services {
    margin-bottom: 29px;
}

.services-text {
    display: block;
    flex-direction: inherit;
    max-width: 304px;
    margin-left: 100px;
    margin-right: 0;
}

.wrap_services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.slider_2-wrap {
    position: absolute;
    top: -9px;
    right: -0.2%;
    height: 400px;
    max-width: 64vw;
    margin-top: 18px;
}

.swiper-text {
    margin-top: 25px;
}

.swiper-title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #D4D626;
    width: 232px;
    padding-bottom: 11px;
}

.swiper-no {
    font-family: 'Alice';
    font-weight: 400;
    font-size: 56px;
    line-height: 111.8%;
    text-transform: uppercase;
}

.btn-text_services {
    font-size: 17px;
}

.title-hero {
    font-size: 64.9171px;
    line-height: 113%;
    max-width: 600px;
    margin-top: 130px;
    margin-left: 20px;
    margin-bottom: 125px;
    color: #fff;
}

@media (max-width: 1360px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .logo {
        width: 209.26px;
        height: 44.11px;
        margin-right: 20px;
    }


    .header {
        padding-top: 40px;
        padding-right: 0;
        padding-left: 0;
    }

    .header-nav_link {
        font-size: 15px;
    }

    .header-nav {
        margin-right: 35px;
        gap: 20px;
    }

    .menu-select {
        width: 192px;
    }

    .title-hero {
        font-size: 64.9171px;
        line-height: 113%;
        max-width: 600px;
        margin-top: 130px;
        margin-left: 40px;
        margin-bottom: 130px;
    }

    .services-text {
        max-width: 304px;
        margin-left: 7.5%;
    }

    .slider_2-wrap {
        max-width: 58vw;
    }

}

@media (max-width: 1200px) {
    .slider_2-wrap {
        max-width: 58vw;
    }
}

@media (max-width: 1040px) {
    .header-nav {
        margin-right: 20px;
        gap: 15px;
    }

    .header-nav_link {
        font-size: 11px;
    }
}

/* @media (max-width: 900px) {} */

/* breakpoint: 768, */
/* breakpoint: 500, */